body,textarea
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.5em;
}


a:link {
color: #17238F;
text-decoration: none;
}
a:visited {
color: #17238F;
text-decoration: none;
}
a:hover {
color: #0000FF;
text-decoration: none;
}


h1
{
	font-weight: 400;
      font-size: 300%;
	color: #666;
	line-height: 1em;
}
      
.container 
{
      text-align: left;
      width: 1200px;
      margin-bottom: 5%;
}


